.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
    list-style: none;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    color: #f1f5f9;
    margin: 20px 0;
    font-weight: bold;
}
