.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #1e293b;
    padding: 10px;

    a {
        color: #f1f5f9;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: #38bdf8;
    }
}